<div class="info" [class.fadeInLeft]="isIntersected">
  <pt-tag text="h2"></pt-tag>
  <h2>About me</h2>
  <pt-tag text="h2" [isClosing]="true"></pt-tag>

  <div class="about-info">
    <p>As a software engineering student at the Faculty of Organizational Sciences in Belgrade, I’m ready to jump headfirst into the world of full-stack development, fueled by passion and an occasional coffee overdose. My entrepreneurial spirit keeps me on my toes, always looking for new ways to build cool solutions that actually work (and hopefully won’t crash!). Whether it’s crafting elegant code or making sure users can actually figure out how to use it, I bring fresh ideas and a lot of energy to every project. Technology is my playground, and I’m always learning new tricks to stay ahead of the game. I’m a firm believer that the best ideas come from collaboration, so if you're up for turning the next big idea into reality, I’m your person. Let’s make something awesome—and hopefully bug-free!
    </p>
  </div>
</div>

<div class="image-wrapper" [class.fadeInRight]="isIntersected">
  <img src="/assets/images/LazarStojanovic.jpg" alt="Me">
  <pt-tag text="img src='/assets/images/me.png'"></pt-tag>
</div>
