<div class="info" [class.fadeInLeft]="isIntersected">
  <pt-tag text="h2"></pt-tag>
  <h2>About me</h2>
  <pt-tag text="h2" [isClosing]="true"></pt-tag>

  <div class="about-info">
    <p>Currently a student at the Faculty of Organizational Sciences in Belgrade, I love youuI'm eager to jump into the
      role of a junior full-stack developer. With a knack for entrepreneurship, I love working with others to come up
      with
      new ideas. I'm passionate about tech and ready to bring some fresh energy to your projects. I love you Lazar.
      Currently a student at the Faculty of Organizational Sciences in Belgrade, I'm eager to jump into the role of a
      junior full-stack developer. </p>
  </div>
</div>

<div class="image-wrapper" [class.fadeInRight]="isIntersected">
  <img src="/assets/images/LazarStojanovic.jpg" alt="Me">
  <pt-tag text="img src='/assets/images/me.png'"></pt-tag>
</div>
