<div class="info" [class.fadeInLeft]="isIntersected">
  <pt-tag text="h2"></pt-tag>
  <h2>About me</h2>
  <pt-tag text="h2" [isClosing]="true"></pt-tag>

  <div class="about-info">
    <p>As a software engineering student at the Faculty of Organizational Sciences in Belgrade, I’m enthusiastic about stepping into the world of full-stack development. My entrepreneurial spirit fuels my drive to create innovative solutions, and I thrive when collaborating with like-minded people to turn ideas into reality. Whether it's crafting elegant code or designing seamless user experiences, I bring a fresh perspective and boundless energy to every project. Passionate about technology, I’m constantly learning and evolving to stay ahead of the curve, and I can’t wait to contribute my skills to your next big venture.

    </p>
  </div>
</div>

<div class="image-wrapper" [class.fadeInRight]="isIntersected">
  <img src="/assets/images/LazarStojanovic.jpg" alt="Me">
  <pt-tag text="img src='/assets/images/me.png'"></pt-tag>
</div>
