<div class="tags fadeInLeft">
  <pt-tag text="html" class="tag-1"></pt-tag>
  <pt-tag text="body" class="tag-2"></pt-tag>
  <pt-tag text="h1" class="tag-3"></pt-tag>
</div>

<h1>
  <span class="phone-invisible">Hi,</span>
  <span class="wrapper phone-invisible">I am <span #name class="writer"></span></span>

  <span class="phone-visible">Hi, I am</span>
  <span #nameMobile class="writer phone-visible"></span>

  <span>Full stack developer</span>
</h1>

<pt-tag text="h1" [isClosing]="true"></pt-tag>

<pt-button (buttonClick)="sendEmail()">Contact Me</pt-button>

<img class="background" src="/assets/images/hero-background.png" alt="Background">
