<div [class.fadeInLeft]="isIntersected" class="title-wrapper">
  <pt-tag text="h2"></pt-tag>
  <h2>Experience</h2>
  <pt-tag text="h2" [isClosing]="true"></pt-tag>
</div>


<div class="wrapper">
  <pt-experience-block
    title="Full stack developer at Idealno Venčanje (2023-2025)"
    description="I had the privilege of contributing to the development of a wedding planning web application startup, where I was mentored by an experienced senior developer. This opportunity allowed me to learn invaluable best practices and gain deep insights into building robust, scalable applications. The project was built using Angular for the frontend and ASP.NET Web API for the backend, with an MSSQL database at its core. One of the highlights was implementing real-time communication through SignalR, where I developed a web chat feature to enhance user engagement. Additionally, I had the chance to deploy the project on Azure, leveraging Azure Table Storage for managing media assets like images and videos. Throughout this project, I also worked with a variety of powerful libraries, including Leaflet for mapping, LightGallery for image galleries, and Swiper for sleek, responsive carousels, all contributing to an intuitive and dynamic user experience.">
  </pt-experience-block>

  <pt-experience-block
    title="Front-end developer at FonBoard (2023-2025)"
    description="For the past two years, I’ve had the privilege of working as one of the lead front-end developers on a web application designed to connect companies with students through job listings and applications. The project was developed with Angular on the frontend, Nest for the backend, and PostgreSQL as the database. During this time, I had the opportunity to lead pull request reviews, ensuring code quality and best practices. Additionally, I played a key role in refactoring the project from the ground up, optimizing both performance and maintainability. This experience not only sharpened my technical skills but also allowed me to foster collaboration and mentorship within the team, driving the project towards greater success. ">
  </pt-experience-block>

  <pt-experience-block
    title="FONIS - Association of Information Technology
    Students at FON (2023-2024)"
    description="I had the opportunity to serve as the team leader for a group of 7 students, where we worked together on developing a website for the Companies to Students (C2S) project. While the project itself wasn’t highly complex, it gave me valuable experience in leading a team of developers and managing the workflow. I set up and organized our Jira and BitBucket projects, ensuring smooth and efficient collaboration through well-defined processes. The project’s main challenge was implementing robust form validation, as it involved multiple parts with intricate dependencies. This experience helped me hone my leadership skills and deepened my understanding of project management and development best practices.">
  </pt-experience-block>
</div>
