<div [class.fadeInLeft]="isIntersected" class="title-wrapper">
  <pt-tag text="h2"></pt-tag>
  <h2>Experience</h2>
  <pt-tag text="h2" [isClosing]="true"></pt-tag>
</div>


<div class="wrapper">
  <pt-experience-block
    title="Engineering"
    description="The power of first impressions cannot be underestimated, and the gateway to capitalizing on them lies in
    exceptional website design. An outstanding website transcends mere aesthetics and extends its influence to
    encompass seamless functionality and user-friendly navigation. Drawing upon my expertise as a seasoned
    programmer, I possess the unique ability to tackle intricate technical challenges while crafting websites that
    exude sleekness and visual allure. Moreover, my extensive knowledge of recognized technical standards is
    complemented by my proficiency in modern building practices, ensuring that every aspect of your website is
    finely tuned to perfection">
  </pt-experience-block>

  <pt-experience-block
    title="Engineering"
    description="The power of first impressions cannot be underestimated, and the gateway to capitalizing on them lies in
    exceptional website design. An outstanding website transcends mere aesthetics and extends its influence to
    encompass seamless functionality and user-friendly navigation. Drawing upon my expertise as a seasoned
    programmer, I possess the unique ability to tackle intricate technical challenges while crafting websites that
    exude sleekness and visual allure. Moreover, my extensive knowledge of recognized technical standards is
    complemented by my proficiency in modern building practices, ensuring that every aspect of your website is
    finely tuned to perfection">
  </pt-experience-block>

  <pt-experience-block
    title="Engineering"
    description="The power of first impressions cannot be underestimated, and the gateway to capitalizing on them lies in
  exceptional website design. An outstanding website transcends mere aesthetics and extends its influence to
  encompass seamless functionality and user-friendly navigation. Drawing upon my expertise as a seasoned
  programmer, I possess the unique ability to tackle intricate technical challenges while crafting websites that
  exude sleekness and visual allure. Moreover, my extensive knowledge of recognized technical standards is
  complemented by my proficiency in modern building practices, ensuring that every aspect of your website is
  finely tuned to perfection">
  </pt-experience-block>
</div>
