<div [class.fadeInLeft]="isIntersected" class="title-wrapper">
  <pt-tag text="h2"></pt-tag>
  <h2>Experience</h2>
  <pt-tag text="h2" [isClosing]="true"></pt-tag>
</div>


<div class="wrapper">
  <pt-experience-block
    title="Developer at Idealno Venčanje (2023-2024)"
    description="I worked on developing a wedding planning web application startup, during which time I was mentored by a senior developer, from
    whom I had the opportunity to learn some of the best practices. Project was developed using Angular on the fronted and ASP.NET Web API on backend with MSSQL database. In that project I had oportunity to work with SignalR (with whom I made web chat there) and oportunity to host that project on Azure and use its Azure Table Storage for images and videos. Also I worked with various libraries like Leaflet, LighGallery, Swiper, etc.">
  </pt-experience-block>

  <pt-experience-block
    title="Developer at FonBoard (2022-2024)"
    description="For the past two years, I have been working as one of the lead
    front-end developers on the development of a web application
    where companies post job listings to which students can apply.">
  </pt-experience-block>

  <pt-experience-block
    title="FONIS - Association of Information Technology
    Students at FON (2022-2024)"
    description="I served as a team leader to a group of 7 students, collaborating
    on the development of a website for the Companies to Students
    (C2S) project.
    ">
  </pt-experience-block>
</div>
