<div
  class="project"
  (mouseleave)="projectHovered = false"
  (mouseover)="projectHovered = true">
  <div class="text" [class.visible-text]="projectHovered">
    <h3>{{heading}}</h3>
    <span>{{description}}</span>
    <div class="tags-wrapper">
      @for(tag of tags; track tag) {
        <div class="project-tag">{{tag}}</div>
      }
    </div>
  </div>
  <!--
  <video
  #video
  preload="auto"
  [style.opacity]="projectHovered ? '0.5' : '1'"
  muted
  autoplay
  playsinline>
  <source [src]="videoUrl" type="video/webm">
</video> -->

  <video
    #video
    muted
    playsinline>
    <source [src]="videoUrl" type="video/webm">
  </video>
</div>

<div class="text-tablet">
  <h3>{{heading}}</h3>
  <span>{{description}}</span>
  <div class="tags-wrapper">
    @for(tag of tags; track tag) {
      <div class="project-tag">{{tag}}</div>
    }
  </div>
</div>
