<div
  class="project"
  (mouseleave)="projectHovered = false"
  (mouseover)="projectHovered = true">
  <div class="text" [class.visible-text]="projectHovered">
    <h3>{{heading}}</h3>
    <span>{{description}}</span>
    <div class="tags-wrapper">
      @for(tag of tags; track tag) {
        <div class="project-tag">{{tag}}</div>
      }
    </div>
  </div>

  <video
    #video
    [autoplay]="true"
    [loop]="true"
    [muted]="true"
    [playsInline]="true"
    [src]="videoUrl"
    [class.video-hover]="projectHovered">
  </video>
</div>

<div class="text-tablet">
  <h3>{{heading}}</h3>
  <span>{{description}}</span>
  <div class="tags-wrapper">
    @for(tag of tags; track tag) {
      <div class="project-tag">{{tag}}</div>
    }
  </div>
</div>
